<div class="login">
  <div class="header">Log in</div>
  <label class="email_label">Username</label>
  <input class="email" type="text" [(ngModel)]="username" />
  <label class="password_label">Password</label>
  <input class="password" type="password" [(ngModel)]="password" />
  <div class="submit_btn" (click)="login()">Log in</div>
</div>
