<div class="signup">
  <div class="header">Sign up</div>
  <label class="username_label">Username</label>
  <input class="username" type="text" [(ngModel)]="username" />
  <label class="email_label">Email</label>
  <input class="email" type="email" [(ngModel)]="email" />
  <label class="password_label">Password</label>
  <input class="password" type="password" [(ngModel)]="password" />
  <label class="password_label">Retype Password</label>
  <input class="password" type="password" [(ngModel)]="password_again" [class.invalid]="!check_passwords()" />
  <div class="submit_btn" (click)="sign_up()">Sign up</div>
</div>
