.signup
  background-color: #fff
  border: 1px solid #aaaaaa
  border-top: 0
  padding: 20px
  width: 240px

.header
  margin-bottom: 25px
  font-weight: bold
  font-size: 20px

.username, .email, .password
  margin-bottom: 10px

.username_label, .email_label, .password_label
  padding-right: 200px
  margin-top: 10px

.submit_btn
  background-color: #42bbff
  color: #FFFFFF
  font-weight: bold
  font-size: 16px
  padding: 20px
  margin: 10px
  margin-bottom: 0px
  width: 97px
  cursor: pointer

.invalid
  outline: 1px solid red
