.emotion
  position: absolute
  list-style-type: none
  font-size: 20px
  cursor: pointer
  pointer-events: initial

.emotion:hover
  font-weight: bold

.selected
  font-size: 30px
  font-weight: bold
