.top_bar
  height: 70px
  width: 100%
  background-color: #42bbff

.nav_container
  max-width: 1200px
  margin: auto
  position: relative

.logo
  font-family: "Roboto", sans-serif
  font-size: 40px
  font-weight: bold
  color: #FFFFFF
  padding-top: 10px
  float: left
  cursor: pointer

.navigation
  float: right

.login_wrapper
  position: absolute
  right: 0px
  top: 70px
  overflow: hidden
  height: 0px
  transition: height 200ms ease-in-out

.login_wrapper.show
  height: 260px

.signup_wrapper
  position: absolute
  right: 0px
  top: 70px
  overflow: hidden
  height: 0px
  transition: height 200ms ease-in-out

.signup_wrapper.show
  height: 380px

ul
  list-style-type: none

li
  float: left
  padding: 10px
  font-size: 20px
  color: #ffffff
  margin-right: 30px
  cursor: pointer
  &:hover
    font-weight: bold
