<div class="top_bar">
  <div class="nav_container">
    <div class="logo">
      EmotionGrid
    </div>
    <nav class="navigation">
      <ul>
        <li *ngIf="logged_in" class="nav_button" routerLink="/emotions">
          My emotions
        </li>
        <li *ngIf="logged_in" class="nav_button" routerLink="/statistics">
          Statistics
        </li>
        <li *ngIf="!logged_in" class="nav_button" (click)="show_login()">
          Login
        </li>
        <li *ngIf="!logged_in" class="nav_button" (click)="show_signup()">
          Signup
        </li>
        <li *ngIf="logged_in" class="nav_button" (click)="logout()">
          Log Out
        </li>
      </ul>
    </nav>
    <div *ngIf="!logged_in" class="login_wrapper" [class.show]="login">
      <login></login>
    </div>
    <div *ngIf="!logged_in" class="signup_wrapper" [class.show]="signup">
      <sign-up></sign-up>
    </div>
  </div>
</div>
