/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto')

html
  box-sizing: border-box
  font-family: "Open Sans",  sans-serif

*, *:before, *:after
  box-sizing: inherit

html, body
  margin: 0
  padding: 0
