.container
  max-width: 1200px
  max-height: 100%
  margin: auto

h2
  text-align: center

.grid
  position: relative
  width: 80%
  height: 500px
  margin: 60px auto
  pointer-events: none

.grid_vertical, .grid_horizontal
  background-color: #000000

.grid_vertical
  width: 2px
  height: 400px
  position: relative
  left: 200px

.grid_horizontal
  width: 400px
  height: 2px
  position: relative
  top: 200px

.btn_validate
  max-width: 100px
  text-align: center
  padding: 10px
  background-color: #42bbff
  color: #ffffff
  margin: auto
  cursor: pointer
