<div class="container">
  <h2>Hey {{username}}! How are you feeling?</h2>
  <div class="grid">
    <!-- <div class="grid_horizontal"></div>
    <div class="grid_vertical"></div> -->
    <ul class="emotion_container" (window:resize)="updateSize()">
      <emotion *ngFor="let emotion of emotions" [emotion]="emotion" [gridWidth]="gridWidth" [gridHeight]="gridHeight"></emotion>
    </ul>
  </div>
  <div class="btn_validate" (click)="confirm()">
    Confirm
  </div>
</div>
